<article class="card">
  <a href='<%= "#projects/" + project.escape("id") %>'>
    <h3><%= project.escape("title") %></h3>

    <span class="text-muted">
      <h5><%= project.escape("description") %></h5>
      <h5>Updated <%= moment(project.escape("updated_at")).fromNow() %></h5>
      <h5><%= project.get("num_members") %>
          <%= project.get("num_members") == 1 ? "member" : "members" %>
      </h5>
    </span>
  </a>

  <div class='members'>
    <% members.forEach(function (member) { %>
      <a href="#users/<%= member.id %>">
        <img src="<%= member.escape("gravatar_url") %>"
             alt="<%= member.escape("username") %>"
             title=" <%= member.escape("username") %>"
             class="member-gravatar img-circle"/>
      </a>
    <% }) %>

    <% if (project.get("num_members") > 4) { %>
      <span class='more-members'>...</span>
    <% } %>
  </div>
</article>
