<img src="<%= member.escape('gravatar_url') %>" class='member-gravatar'
     alt="<%= member.escape('username') %>" />

<div class="member-info">
  <strong class='member-username'><%= member.escape("username") %></strong>
  <%= member.escape("email") %>
  <strong><%= member.escape('admin') %></strong>
</div>


<% if (project.get('is_admin') && Stronghold.CURRENT_USER.id != member.id) { %>
  <!-- No editing your own admin rights or deleting your own membership. -->
  <div class="member-controls">
    <input type="checkbox" name='admin' class='admin-toggle'
     <%= member.get('admin') ? "checked" : "" %>>

     <a href="javascript:void(0)" class='delete-membership'>
       <i class='fa fa-trash fa-2x'></i>
     </a>
  </div>
<% } %>
