<header>
  <div class="project-info">
    <h1 class='project-title'><%= project.escape("title") %></h1>
    <h3 class='project-description'><%= project.escape("description") %></h3>
  </div>
</header>

<br>

<section class='overview'>
  <%= numDiscussions %> <%= numDiscussions !== 1 ? "discussions" : "discussion" %> |
  <%= numChecklists %> <%= numChecklists !== 1 ? "checklists" : "checklist" %> |
  <%= numTasks %> <%= numTasks !== 1 ? "tasks" : "task" %> |
  <a href="#projects/<%= project.id %>/members">
    <%= numProjectMembers %> <%= numProjectMembers !== 1 ? "members" : "member" %>
  </a>
</section>

<section class='discussions-index'>
  <a href="#projects/<%= project.id %>/discussions">Discussions index</a>

  <div class='store discussions-store'>
    <!-- show the first six discussions -->
  </div>

  <% if (numDiscussions > 6) { %>
    <%= numDiscussions - 6 %> more discussions
  <% } %>
</section>

<section class='checklists-index'>
  <a href="#projects/<%= project.escape("id") %>/checklists">checklists index</a>

  <div class="store checklists-store">
    <!-- show the first five checklists -->
  </div>

  <% if (numChecklists > 5) { %>
    <%= numChecklists - 5 %> more checklists
  <% } %>
</section>


<% if (project.get('is_admin')) { %>
  <p><em>Danger Zone</em></p>
  <button class='btn btn-danger btn-md delete-project' type="button">
    Delete this project
  </button>
<% } %>
