<header>
  <div class="project-info">
    <h1 class='project-title'><%= project.escape("title") %></h1>
    <h3 class='project-description'><%= project.escape("description") %></h3>
  </div>
</header>

<br>

<section class='overview'>
  <%= numDiscussions %> <%= numDiscussions !== 1 ? "discussions" : "discussion" %> |
  <%= numChecklists %> <%= numChecklists !== 1 ? "checklists" : "checklist" %> |
  <%= numTasks %> <%= numTasks !== 1 ? "tasks" : "task" %> |
  <%= numProjectMembers %> <%= numProjectMembers !== 1 ? "members" : "member" %>
</section>

<section class='discussions-index'>
  <a href="#projects/<%= project.id %>/discussions">Discussions index</a>
</section>

<section class='checklists-index'>
  <a href="#projects/<%= project.escape("id") %>/checklists">checklists index</a>
</section>

<section class='files-index'>
  files index
</section>


<form class='new-invites-form'>
  <h4>Invite more people to your project</h4>
  <p>
    Type in some usernames or emails. Anybody you add will be able to view
    and make changes to this project, and invite other users.
  </p>

  <div class="search-bar">
    <input type="text" class='form-control typeahead'>
  </div>

  <div class="invitees"></div>

  <button class='submit-invitees btn btn-success btn-md'>Add new invitees</button>
</form>

<% if (project.get("is_admin")) { %>
  <br><br>
  <p>
    <h5>Add administrators to this project</h5>
    Admins can create other admins, remove admin rights, and delete the entire project.
  </p>

  <p>
    <h5>Remove administrators</h5>
  </p>

  <p><em>Danger Zone</em></p>
  <button class='btn btn-danger btn-md delete-project' type="button">
    Delete this project
  </button>
<% } %>
