<header>
  <div class="project-info">
    <h1 class='project-title'><strong><%= project.escape("title") %></strong></h1>
    <h2 class='project-description'><%= project.escape("description") %></h2>
  </div>
</header>

<hr>
<section class='overview'>
  <%= numDiscussions %> <%= numDiscussions !== 1 ? "discussions" : "discussion" %> |
  <%= numChecklists %> <%= numChecklists !== 1 ? "checklists" : "checklist" %> |
  <%= numTasks %> <%= numTasks !== 1 ? "tasks" : "task" %> |
  <a href="#projects/<%= project.id %>/members">
    <%= numProjectMembers %> <%= numProjectMembers !== 1 ? "members" : "member" %>
  </a>
</section>
<hr>

<section class='discussions-index'>
  <h3>
    <strong>
      <a href="#projects/<%= project.id %>/discussions">Discussions</a>
    </strong>
  </h3>

  <div class='store discussions-store row'>
    <!-- show the first six discussions -->
  </div>

  <% if (numDiscussions > 6) { %>
    <%= numDiscussions - 6 %> more <%= (numDiscussions - 6) === 1 ? "discussion" : "discussions" %>
  <% } %>
</section>

<hr>

<section class='checklists-index'>
  <h3>
    <strong>
      <a href="#projects/<%= project.escape("id") %>/checklists">Checklists</a>
    </strong>
  </h3>

  <div class="store checklists-store">
    <!-- show the first five checklists -->
  </div>

  <% if (numChecklists > 5) { %>
    <%= numChecklists - 5 %> more <%= (numChecklists - 5) === 1 ? "checklist" : "checklists" %>
  <% } %>
</section>


<% if (project.get('is_admin')) { %>
<hr>
  <button class='btn btn-danger btn-md delete-project' type="button">
    Delete this project
  </button>
<% } %>
