<div class='jumbotron <%= bg_class %>'>
  <%= render "layouts/flash" %>

  <div class="site-info <%= bg_class %>">
    <section class="blurb">
      <%= render "layouts/blurb", blurb_style: bg_class %>
    </section>

    <section class="buttons">
      <a href='<%= new_user_url %>' class='btn btn-primary btn-signup' role='button'>
        Sign up
      </a>

      <a href="<%= new_session_url %>" class='btn btn-default btn-signin' role='button'>
        Log in
      </a>

    </section>
  </div>
</div>
