<% if (!isShowView) { %>
  <a href="#projects/<%= project.escape('id') %>/checklists/<%= checklist.escape('id') %>">
<% } %>

<h4><%= checklist.escape("title") %></h4>
<h5><%= checklist.escape("description") %></h5>

<% if (!isShowView) { %>
  </a>
<% } else { %>
  <a href="#projects/<%= project.escape("id") %>/checklists">
    Back to all checklists
  </a> <br><br>
<% } %>

<ul class='tasks'>
  task partials go here!
</ul>

<button type="button" class='new-task btn btn-link' data-id='<%= checklist.escape("id") %>'>
  Create a new task
</button>

<% if (isShowView) { %>
  <br>
  <p>
    this is a show view! comments and things will go here
  </p>
<% } %>
