<% var infoClasses = isShowView ? "info info-editable" : "info" %>

<header class='<%= infoClasses %>'>
  <% if (!isShowView) { %>
    <a href="#projects/<%= project.escape('id') %>/checklists/<%= checklist.escape('id') %>">
  <% } %>

  <h4 class='checklist-title'><%= checklist.escape("title") %></h4>
  <h5 class='checklist-description'><%= checklist.escape("description") %></h5>

  <% if (!isShowView) { %>
    </a>
  <% } %>
</header>

<% if (isShowView) { %>
  <a href="#projects/<%= project.escape("id") %>/checklists">
    Back to all checklists
  </a> <br><br>

  <% if (checklist.creator().id == Stronghold.CURRENT_USER.id || project.get('is_admin')) { %>
    <button type="button" class='delete-checklist btn btn-danger'>
      Delete this checklist
    </button>
  <% } %>
<% } %>

<ul class='tasks row'>
</ul>

<div class="task-create">
  <button type="button" class='new-task btn btn-link' data-id='<%= checklist.escape("id") %>'>
    Create a new task
  </button>
</div>

<% if (isShowView) { %>
  <br><h4>Comments on this checklist</h4>
  <section class='comments row'></section>

  <div class="comment-create">
    <button type="button" class='new-comment btn btn-primary'>
      Post a new comment
    </button>
  </div>
<% } %>
