<% var infoClasses = isShowView ? "info info-editable" : "info" %>
<% var titleHeaderTag = isShowView ? "h1" : "h4" %>

<header class='<%= infoClasses %>'>
  <% if (!isShowView) { %>
    <a href="#projects/<%= project.escape('id') %>/checklists/<%= checklist.escape('id') %>">
  <% } %>

  <<%= titleHeaderTag %> class='checklist-title'><%= checklist.escape("title") %></<%= titleHeaderTag %>>
  <h5 class='checklist-description'><%= checklist.escape("description") %></h5>

  <% if (!isShowView) { %>
    </a>
  <% } %>

  <% if (isShowView) { %>
    <a href="#/projects/<%= project.id %>"
       class='btn btn-default btn-xs'>
       <%= project.escape("title") %>
    </a>
    
    <a href="#/projects/<%= project.id %>/checklists"
       onClick='history.back();return false;'
       class='btn btn-default btn-xs'>
      Back to previous page
    </a>
  <% } %>
</header>

<ul class='tasks row'>
</ul>

<div class="task-create">
  <button type="button" class='new-task btn btn-link' data-id='<%= checklist.escape("id") %>'>
    Create a new task
  </button>
</div>

<% if (isShowView) { %>
  <hr>
  <h4>Comments on this checklist</h4>
  <section class='comments row'></section>

  <div class="comment-create">
    <button type="button" class='new-comment btn btn-primary'>
      Post a new comment
    </button>
  </div>

  <% if (checklist.creator().id == Stronghold.CURRENT_USER.id || project.get('is_admin')) { %>
    <br><br><hr>
    <button type="button" class='delete-checklist btn btn-danger btn-xs'>
      Delete this checklist
    </button>
  <% } %>
<% } %>
