<a href="#users/<%= commenter.id %>">
  <img src="<%= commenter.escape("gravatar_url") %>" class='img-circle av'/>

  <h4 class='commenter'>
    <strong><%= commenter.escape("username") %></strong>
  </h4>
</a>

<section class='comment-body'>
  <%= comment.get("body") %>
</section>

<span class='buttons'>
  <% if (Stronghold.CURRENT_USER.id == commenter.id) { %>
    <button type="button" class='comment-edit btn btn-sm btn-link'>
      Edit
    </button>
  <% } %>

  <% if (project.get("is_admin") || Stronghold.CURRENT_USER.id == commenter.id) { %>
    <button type="button" class='comment-delete btn btn-sm btn-link'>
      Delete
    </button>
  <% } %>
</span>

<span class='timestamps text-muted'>
  posted <%= moment(comment.escape("created_at")).fromNow() %>
  <% if (comment.get('has_been_edited')) { %>
    | edited <%= moment(comment.escape("updated_at")).fromNow() %>
  <% } %>
</span>
