<% if req_method == :patch %>
  <% action = user_url %>
  <% button_text = "Submit changes" %>
<% else %>
  <% action = users_url %>
  <% button_text = "Sign up" %>
<% end %>

<form action="<%= action %>" method='post'>
  <%= render "shared/auth" %>

  <% if req_method == :patch %>
    <input type="hidden" name="_method" value="<%= req_method %>">
  <% end %>

  <div class='form-group'>
    <label for='user_username'>Username: </label>
    <input type='text' class='form-control' name='user[username]' value='<%= @user.username %>'>
  </div>

  <div class='form-group'>
    <label for='user_password'>Enter your password (6 characters or more): </label>
    <input type='password' class='form-control' name='user[password]'>
  </div>

  <div class='form-group'>
    <label for='user_email'>Enter your email: </label>
    <input type='email' class='form-control' name='user[email]' value='<%= @user.email %>'>
  </div>

  <button type='submit' class='btn-signup btn btn-primary btn-lg'>
    <%= button_text %>
  </button>

  <a href="/" class='signup-cancel btn btn-default btn-lg'>Cancel</a>
</form>
