<% var done = isDone ? "checked" : "" %>
<% var usernames = assignments.map(function (assignment) { %>
  <% return assignment.escape("username") %>
<% }); %>

<span class='task-options'></span>

<input type="checkbox" data-id="<%= task.id %>" class="task-toggle"
  name="done" <%= done %>>

<span class='task-desc' name='description'>
  <%= task.escape("description") %>
</span>

 <br>

<span class='task-assignments' name='assigned_users'>
  Assigned to: <%= usernames.join(", ") %>
</span>

<br>

<% if (task.get("deadline")) { %>
  <span class='task-deadline' name='deadline'>
    Due on: <%= task.escape("deadline") %>
  </span>
<% } %>
