<% var done = isDone ? "checked" : "" %>
<% var usernames = assignments.map(function (assignment) { %>
  <% return assignment.escape("username") %>
<% }); %>

<span class='task-options'></span>

<% if (isShowView) { %>
  <a href="#/projects/<%= project.id %>/checklists"
       onClick='history.back();return false;'>
    Back to previous page
  </a> <br>
<% } %>


<input type="checkbox" data-id="<%= task.id %>" class="task-toggle"
  name="done" <%= done %>>

<span class='task-desc' name='description'>
  <% if (!isShowView) { %>
    <a href="#/projects/<%= project.id %>/tasks/<%= task.id %>">
  <% } %>
    <%= task.escape("description") %>
  <% if (!isShowView) { %>
    </a>
  <% } %>
</span>

 <br>

<span class='task-assignments' name='assigned_users'>
  Assigned to: <%= usernames.join(", ") %>
</span>

<br>

<% if (task.get("deadline")) { %>
  <span class='task-deadline' name='deadline'>
    Due on: <%= task.escape("deadline") %>
  </span>
<% } %>

<% if (isShowView) { %>
  <p>
    this is a task show view! comments and things will go here
  </p>
<% } %>
