<% var usernames = assignments.map(function (assignment) { %>
  <% return assignment.escape("username") %>
<% }); %>

<section class='task-show'>
  <span class='task-options'></span>
  <a href="#/projects/<%= project.id %>/checklists"
       onClick='history.back();return false;'>
    Back to previous page
  </a> <br>


  <input type="checkbox" data-id="<%= task.id %>" class="task-toggle"
    name="done" <%= isDone ? "checked" : "" %>>

  <span class='task-desc <%= isDone ? "done" : "" %>' name='description'>
    <%= task.escape("description") %>
  </span>

   <br>

  <span class='task-assignments' name='assigned_users'>
    Assigned to: <%= usernames.join(", ") %>
  </span>

  <br>

  <% if (task.get("deadline")) { %>
    <span class='task-deadline' name='deadline'>
      Due on: <%= task.escape("deadline") %>
    </span>
  <% } %>
</section>

<h4>Comments on this task</h4>
<section class='comments row'>
</section>

<div class="comment-create">
  <button type="button" class='new-comment btn btn-primary'>
    Post a new comment
  </button>
</div>
