<% var usernames = assignments.map(function (assignment) { %>
  <% return assignment.escape("username") %>
<% }); %>

<section class='task-show'>
  <span class='task-options'></span>

  <div class='task-desc <%= isDone ? "done" : "" %>' name='description'>
    <h1>
      <input type="checkbox" data-id="<%= task.id %>" class="task-toggle"
        name="done" <%= isDone ? "checked" : "" %>>

      <%= task.escape("description") %>

      <a href="#/projects/<%= project.id %>/checklists"
         onClick='history.back();return false;'
         class='btn btn-default btn-xs'>
        Back to previous page
      </a>
    </h1>
  </div>

  <aside class="task-info">
    <div class='task-assignments' name='assigned_users'>
      <h5>
        Assigned to: <%= usernames.join(", ") %>
      </h5>
    </div>

    <% if (task.get("deadline")) { %>
      <div class='task-deadline' name='deadline'>
        <h5>
          Due: <%= moment([task.escape("deadline")], "MM/DD/YYYY").fromNow() %>
          (<%= task.escape("deadline") %>)
        </h5>
      </div>
    <% } %>
  </aside>
</section>

<hr>

<h4>Comments on this task</h4>
<section class='comments row'>
</section>

<div class="comment-create">
  <button type="button" class='new-comment btn btn-primary'>
    Post a new comment
  </button>
</div>
