<a href="#users/<%= creator.id %>">
  <img src="<%= creator.escape("gravatar_url") %>" class='img-circle'/>
</a>

<a href="#projects/<%= project_id %>/discussions/<%= discussion.id %>">
  <span class='who'>
    <%= creator.escape("username") %>
  </span>

  <span class='what'>
    <%= discussion.escape("title") %>
  </span>

  <span class='badge' title='<%= numComments %> comments'>
    <%= numComments %>
  </span>
</a>
