<img src="<%= creator.escape("gravatar_url") %>"/>

<%= creator.escape("username") %>
<%= discussion.escape("title") %>

<span class='badge' title='<%= numComments %> comments'>
  <%= numComments %>
</span>
