<aside class='session-info'>

  <% if logged_in? %>
    <a href='<%= user_url(current_user) %>'>
    <img src="<%= current_user.gravatar_url %>"
         alt="http://www.gravatar.com/avatar/?d=mm"
         class='img-circle'
         height='40', width='40' />
   </a>

    Logged in as <strong><%= current_user.username %>.</strong>

    <form action='<%= session_url %>' style='display: inline;' method='post'>
      <%= render "shared/auth" %>
      <input type="hidden" name="_method" value="delete">
      <input class='btn btn-xs btn-danger' type="submit" value="logout">
    </form> <br>

    <a href="<%= edit_user_url(current_user) %>">
      <p class='text-left'>        
        Edit your info
      </p>
    </a>

  <% else %>
    Not logged in.
    <a href="<%= new_session_url %>" class="btn btn-default btn-xs">login</a>
  <% end %>

</aside>
